.chatLineContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: var(--tg-navigate-height);

  .loaderWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 12px 0;

    .loader {
      border-color: var(--tg-theme-button-color);
      border-bottom-color: transparent;
    }
  }

  .observer {
    height: 1px;
    background: transparent;
  }
}