.container {
  background-color: var(--tg-theme-bg-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .icon {
    svg {
      width: 160px;
      height: 160px;
    }
  }

  .description {
    display: flex;
    margin-bottom: 32px;
  }

  span {
    border-color: var(--tg-theme-button-color);
  }
}
